/* app css stylesheet */

body {
    padding-top: 90px;
    padding-bottom: 30px;
    background-repeat: repeat;
    /* background-color: #222020;*/
}

.phone-images {
    background-color: white;
    width: 400px;
    height: 400px;
    overflow: hidden;
    position: relative;
    float: left;
}

.phones {
    list-style: none;
    padding-left: 0px;

}

.thumb {
    float: left;
    margin: -0.5em 1em 1.5em 0;
    padding-bottom: 1em;
    height: 100px;
    width: 100px;
}

.thumbright {
    float: right;
    margin: -0.5em 1em 1.5em 0;
    padding-bottom: 1em;
    height: 100px;
    width: 100px;
    border-radius: 6px;
}

.phones li {
    clear: both;
    padding-top: 15px;
}

/** Detail View **/
.phone {
    float: left;
    margin-right: 3em;
    margin-bottom: 2em;
    background-color: white;
    padding: 2em;
    height: 400px;
    width: 400px;
    display: none;
}

img.phone:first-child {
    display: block;
}

ul.phone-thumbs {
    margin: 0;
    list-style: none;
}

ul.phone-thumbs li {
    border: 1px solid black;
    display: inline-block;
    margin: 1em;
    background-color: white;
}

ul.phone-thumbs img {
    height: 100px;
    width: 100px;
    padding: 1em;
}

ul.phone-thumbs img:hover {
    cursor: pointer;
}

li {
    cursor: pointer;
}

ul.specs {
    clear: both;
    margin: 0;
    padding: 0;
    list-style: none;
}

ul.specs > li {
    display: inline-block;
    width: 200px;
    vertical-align: top;
}

ul.specs > li > span {
    font-weight: bold;
    font-size: 1.2em;
}

ul.specs dt {
    font-weight: bold;
}

h1 {
    border-bottom: 1px solid gray;
}

.my-magazine-korzina div.active {
    background-color: #80c1b0;
}

div.total {
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    padding: 15px 30px;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    color: #fff;
}

div.total span {
    float: right;
}

.modal-dialog {
    max-width: 400px;
}

label.col-sm-4.control-label {
    text-align: left;
}

.mycss {
    text-align: center;
}

.order-form input {
    max-width: 300px;
}

.order-form textarea {
    max-width: 300px;
}

.order-form button {
    margin-top: 10px;
    margin-left: 160px;
}

.td.thumbnail {
    padding-left: 0px;
    width: 100px;
}

.my-magazine{
    background-color: #fff;
}
.my-magazine-title{
    margin-top: 10px;
    max-height: 18px;
    overflow: hidden;
    font-family: monospace;
    font-size: 16px;
}
.line_under {
    padding-bottom: 15px;
}
.line_under .line_left {
    height: 1px;
    width: 52px;
    position: relative;
    float: left;
    left: 50%;
    margin-left: -53px;
    margin-top: 3px;
}
.line_under .line_center {
    background: #009dcd;
}
.line_under .line_left, .line_under .line_right, .line_under_full .line_full:after {
    background: #ededed;
}
.line_under .line_center {
    height: 8px;
    width: 8px;
    -web-kit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    left: 50%;
    position: absolute;
}
.line_under .line_right {
    height: 1px;
    width: 52px;
    position: relative;
    float: right;
    right: 50%;
    margin-right: -60px;
    margin-top: 3px;
}
.my-magazine{
    text-align: center;
    border: 1px solid #ededed;
    padding: 10px;
    margin: 10px 0 10px;
    max-height: 450px;
}

.shopFullHeight {
    max-height: 100%;
}

.shopFullHeight {
    max-width: 50%;
    max-height: 50%;
}


.my-magazine:hover{
    border: 1px solid #009dcd;
}
.my-magazine img{
    max-width: 100%;
}

/*.phoneImg img {

    max-height: 112px;
}*/
.my-magazine-korzina{
    position: relative;
    text-align: center;
    bottom: -35px;
}
.my-magazine-korzina div{
    background: #fff;
    border: 1px solid #ebebeb;
    padding: 11px 17px;
    font-weight: 600;
    font-size: 14px;
    left: 50%;
    margin-left: 50px;
    margin-top: -18px;
    text-shadow: none;
    max-width: 150px;
    margin-bottom: 10px;
}
.my-magazine-opesanie{
    min-height: 60px;
    max-height: 60px;
    overflow: hidden;
}
.my-magazine-korzina div:hover{
   // background: #eee;
    cursor: pointer;
}
.my-magazine-cena{
    position: absolute;
    top: 20px;
    right: 30px;
    font-weight: 700;
    font-size: 16px;
    color: #009dcd;
    z-index: 9;
}
.my-magazine-cena p{
 background-color: #E1E5F0;
    border-radius: 6px;
}

.panel-title{
    text-align: center;
    height: 50px;
    top: 13px;
    color: aquamarine;
}
.panel-title span {
    font-size: 20px;
    color: rgb(152, 63, 134);
}

.panel-user span {
    padding-right: 5px;
}

#center {
    top: 50%;
    left: 50%;
    width: 300px;
    height: 69px;
    position: absolute;
    margin-top: 0;
    margin-left: -141px;
    font-family: monospace;
    font-size: 29px;
}

.basket label {
    max-width: 50%;
    margin-top: 30%;
    margin-left: 25%;
}

.basket-count p {
    text-align: center;
}

.basket p {
    max-width: 50%;
    text-align: center;
    margin-top: 31%;
    margin-left: -2%;
}

.basket h3 {
    text-align: center;
    margin-top: 30%;
    margin-left: 22%;
}

.basket td {
    width: 300px;
    text-align: center;
    margin-top: 21%;

}

.basket th {
    text-align: center;
    margin-top: 21%;
    padding-left: 200px;
}

.Image tr {
    text-align: center;
    border: 1px solid #ededed;
    padding: 10px;
    margin: 10px 0 10px;
    max-height: 150px;
    text-align: center;
    background: white;
}

.basket img {
    max-height: 150px;
}

.tableTd {
    padding-left: 60px;
    padding-right: 20px;
    padding-top: 50%;
    text-align: center;

}