<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Hello World!</title>
    </head>
    <body>
        <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
        
        <div>
        <form method="POST" enctype="multipart/form-data"  action="/upload">
      <div><label>  File to upload: <input type="file" name="file"/></label></div>
       <div><label> Name: <input type="text" name="name"/></label></div>
        <div><input type="submit" value="Upload"/><label> Press here to upload the file!</label></div>
        </form>
    </div>
    <div>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
        </div>
        
          
 
         <table>
            <tbody>
              <tr th:each="user : ${users}">
                <td th:text="${user.username}">Имя</td>
                <td th:text="${user.password}">Пасс</td>
               
              </tr>
            </tbody>
          </table>
        
        
    </body>
</html>