<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
            data-ng-click="cancel();">&times;</button>
    <h4 class="modal-title">Добавление карты</h4>
</div>
<div class="modal-body">
    <form class="form-horizontal" name="theForm" role="form" data-ng-submit="submit();">
        <div class="form-group" data-ng-show="badRequest">
            <div class="col-sm-offset-2 col-sm-10">
                <label class="text-danger">
                    {{badRequest}}
                </label>
            </div>
        </div>
        <div class="form-group"
             data-ng-class="{'has-error': theForm.inputName.$invalid,'has-success': theForm.inputName.$valid}">
            <label for="inputName" class="col-sm-4 control-label">FirstName</label>

            <div class="col-sm-8">
                <input id="inputName" name="inputName" type="text" class="form-control" data-ng-model="visa.firstName"
                       data-ng-required="true" placeholder="Имя" size="20"/>
            </div>
        </div>
        <div class="form-group"
             data-ng-class="{'has-error': theForm.lastName.$invalid,'has-success': theForm.lastName.$valid}">
            <label for="lastName" class="col-sm-4 control-label">LastName</label>

            <div class="col-sm-8">
                <input id="lastName" name="lastName" type="text" class="form-control" data-ng-model="visa.lastName"
                       data-ng-required="true" placeholder="Фамилия" size="20"/>
            </div>
        </div>

        <div class="form-group"
             data-ng-class="{'has-error': theForm.cartName.$invalid,'has-success': theForm.cartName.$valid}">
            <label for="cartName" class="col-sm-4 control-label">Cart</label>

            <div class="col-sm-8">
                <input id="cartName" name="cartName" type="text" class="form-control" data-ng-model="visa.cartName"
                       data-ng-required="true" placeholder="Тип карты" size="20"/>
            </div>
        </div>

        <div class="form-group"
             data-ng-class="{'has-error': theForm.expirationDate.$invalid,'has-success': theForm.expirationDate.$valid}">
            <label for="expirationDate" class="col-sm-4 control-label">Date</label>

            <div class="col-sm-8">
                <div class="input-group datepicker-popup">
                    <input id="expirationDate" name="expirationDate" type="text" class="form-control"
                           datepicker-popup="yyyy-MM-dd"
                           data-ng-model="visa.expirationDate" data-is-open="boughtOnOptions.open"
                           data-show-weeks="false" data-show-button-bar="false"
                           data-min="boughtOnOptions.minimum" data-ng-required="true" placeholder="Срок действия"
                           size="20"/>
		    <span class="input-group-btn">
			<button class="btn btn-default" data-ng-click="openBoughtOn($event);" type="button"><span
                    class="glyphicon glyphicon-calendar"></span>&#xFEFF;</button>
		    </span>
                </div>
            </div>
        </div>
        <div class="form-group" data-ng-class="{'has-error': theForm.cvv.$invalid,'has-success': theForm.cvv.$valid}">
            <label for="cvv" class="col-sm-4 control-label">cvv</label>

            <div class="col-sm-8">
                <input id="cvv" name="cvv" type="number" class="form-control" data-ng-model="visa.cvv"
                       data-ng-required="true" placeholder="Код безопастности" size="20"/>
            </div>
        </div>
        <div class="form-group"
             data-ng-class="{'has-error': theForm.cartNumber.$invalid,'has-success': theForm.cartNumber.$valid}">
            <label for="cartNumber" class="col-sm-4 control-label">CartNumber</label>

            <div class="col-sm-8">
                <input id="cartNumber" name="cartNumber" type="number" class="form-control"
                       data-ng-model="visa.cartNumber" data-ng-required="true" placeholder="Номер карты" size="20"/>
            </div>
        </div>
        <div class="form-group" data-ng-class="{'has-error': theForm.summ.$invalid,'has-success': theForm.summ.$valid}">
            <label for="summ" class="col-sm-4 control-label">Сумма</label>

            <div class="col-sm-8">
                <input id="summ" name="summ" type="number" class="form-control" data-ng-model="visa.summ"
                       data-ng-required="true" placeholder="$2000" size="20"/>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">

    <button type="button" class="btn btn-default" data-dismiss="modal" data-ng-click="cancel();">Отмена</button>
    <button type="submit" class="btn btn-primary" data-ng-disabled="theForm.$invalid || submitting"
            data-ng-click="submit();">Добавить
    </button>
</div>
</div>
</div>