<div class="container">
    <div class="phone-images">
        <img ng-src="{{img}}"
             class="phone"
             ng-repeat="img in phone.images"
             ng-class="{active: mainImageUrl==img}">
    </div>
    <div class="text-center">
        <h1>{{phone.name}}</h1>

        <p>

        <h3>{{phone.description}}</h3></p>
    </div>
    <ul class="phone-thumbs">
        <li ng-repeat="img in phone.images">
            <img ng-src="{{img}}" ng-click="setImage(img)">
        </li>
    </ul>
    <ul class="nav navbar-right ">
        <li>
            <h4>Количество: {{phone.count}}</h4>
            <b><h2>Цена: {{phone.cost}}</h2></b>
        </li>
        <li>
            <button type="button" class="btn btn-success " data-ng-click="openNewBuyDlg();">Купить</button>
        </li>


    </ul>


</div>