<div class="container">
    <div class="row">
        <ul class="phones">
            <li ng-repeat="phone in phones | filter:query "
                class="thumbnail phone-listing" ng-controller="PhoneCountCtrl" ng-click="toggleActive(phone)" ng-class="{active:phone.active}">

                <div class="col-xs-12 col-md-10" >
                    <a href="#/phones/{{phone.id}}" class="thumb"><img ng-src="{{phone.images[0]}}"></a>
                    <a href="#/phones/{{phone.id}}">{{phone.name}}</a>
                    <p>{{phone.description}}</p>
                    <p>Осталось на складе: {{phone.count}} шт.</p>
                </div>

                <div >
                    <p class="text-left">Стоимость: <span style="color: green"> {{phone.cost | currency}} </span> </p>
                    <!-- <button type="button" name="В корзину" class="btn btn-default" ng-click="toCart()" >В корзину</button>-->
                  <button type="button" class="btn btn-success" id="{{phone.id}}" data-ng-click="openNewBuyDlg(phone);">Купить</button>
                </div>
                <p class="text-info">{{addProduct}}</span></p>
            </li>
        </ul>


    </div>
    <div ng-show="flagVisible">
        <!-- Подсчет общей стоимости всех выбранных услуг. Выводится по заданному формату валюты. -->
        <p class="text-center"> <b><span style="color: green">Всего заказано на сумму:<span>{{total() | currency}}  </span> </span> </b>
            <button type="button" class=" btn btn-primary"  data-ng-click="openNewBuyDlg(1);">Купить</button>
        </p>
    </div>
</div>
