<!doctype html>
<html lang="en" ng-app="RootApp" ng-controller="AppCtrl">
<head>
    <meta charset="utf-8">
    <title ng-bind="pageTitle"></title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/app.css">

    <script src="bower_components/jquery/dist/jquery-1.11.2.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="bower_components/angular-resource/angular-resource.min.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>


    <script src="js/app.js"></script>
    <script src="js/phones.js"></script>
    <script src="js/account.js"></script>
    <script src="js/animations.js"></script>
    <script src="js/cart.js"></script>
    <script src="bower_components/angular-local-storage.js"></script>


</head>
<body role="document" ng-style="{'background-image':'url(img/bg.jpg)'}">
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid" >
        <div class="row">
            <div class="col-sm-4">

        <ul class="nav navbar-nav" >

            <form class="navbar-form navbar-left" role="search">
                <a class="btn btn-large  btn-info" ui-sref="phones" data-toggle="tooltip" title="Домой"> <span
                        class="glyphicon glyphicon-home"></span></a>
                <input ng-model="query" class="form-control" placeholder="Найти...">
            </form>
        </ul>
            </div>
            <div class="col-sm-4 panel-title" ng-controller="LoginCtrl" >

                <p class="test-center" ng-show="isLoggedIn()">Добро пожаловать!!!</p>
                <p class="test-center" ng-hide="isLoggedIn()" >Вы не авторизованы.....</span></p>
                </div>
            <div class="col-sm-4">
        <ul class="nav navbar-nav navbar-right" ng-controller="LoginCtrl" >
            <form class="navbar-form navbar-left">
                <div class="btn-group" ng-hide="isLoggedIn()">
                    <a ng-click="login()" class="btn btn-large  btn-success" data-toggle="tooltip" title="Вход"><span
                            class="glyphicon glyphicon-user"></span></a>
                    <a ng-click="register()" class="btn btn-large btn-default">Регистрация </a>
                </div>
                <div class="btn-group" ng-show="isLoggedIn()" >

                    <a class="btn btn-large btn-default panel-user" ng-click="addVisa()" data-toggle="tooltip"
                       title="Добавить карту оплаты"><span class="glyphicon glyphicon-credit-card"></span> Visa</a>
                    <a class="btn btn-large  btn-success panel-user" ng-show="isLoggedIn()" ui-sref="manageCart({name:username})">
                        <span  class="glyphicon glyphicon-shopping-cart "  data-toggle="tooltip" title="Корзина"></span>
                        <span ng-bind="username"></span><span class="glyphicon glyphicon-user"></span></a>
                    <a ng-click="logout()" class="btn btn-large  btn-danger " data-toggle="tooltip" title="Выход"><span
                            class="glyphicon glyphicon-off"></span></a>
                </div>
            </form>
        </ul>
         </div>
</div>
    </div>
</nav>


<div class="container" ui-view="main"></div>


<footer class="footer">
</footer>

</body>
</html>
